<!-- /templates/seo.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  <meta name="keywords" content="{{keywords}}" />
  <meta name="author" content="{{author}}" />
  <link rel="canonical" href="{{canonical_url}}" />
  <meta name="robots" content="index, follow" />

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/favicon-32x32.png" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{image}}" />
  <meta property="og:url" content="{{canonical_url}}" />
  <meta property="og:type" content="{{og_type}}" />
  <meta property="og:site_name" content="Flexiyo" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:image" content="{{image}}" />
  <meta name="twitter:creator" content="@{{twitter_handle}}" />

  <!-- Structured Data -->
  <script type="application/ld+json">
    {{structured_data}}
  </script>
</head>

<body>
  <main>
    <header>
      <h1>{{title}}</h1>
      <b>Author: {{author}}</b>
      <article>{{description}}</article>
    </header>

    <section>
      {{content_block}}
    </section>

    <footer>
      <p>Permalink: <a href="{{canonical_url}}">{{canonical_url}}</a></p>
    </footer>
  </main>
</body>

</html>